/* @import "node_modules/angular-notifier/styles"; */
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css';
@import 'https://use.fontawesome.com/releases/v5.8.1/css/all.css';
@import "node_modules/angular-notifier/styles";

/* navbar is always fixed a top 0 */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}

/* logo MarketPlace occupies 30px */
.navbar .logo {
    margin-right: 30px;
}
