<!-- cart summary -->
<li class="nav-item text-dark">

    <!-- -->
    <a class="nav-link" routerLink="/cart-detail">

        <!-- cart icon -->
        <i class="fa fa-shopping-cart text-light" aria-hidden="true">

            <!-- total quantity(cart quantity) -->
            <span class="badge badge-notify">
                {{ totalQuantity }}
            </span>

            <!-- total price(cart amount) -->
            <span class="badge bg-danger">
                {{ totalPrice | currency: 'VND' }}
            </span>
        </i>
    </a>
</li>