<div class="container-fluid">

    <!-- only display table if cart has data -->
    <div *ngIf="cartItems.length > 0">
        <h5>Your Cart</h5>
        <table class="table table-bordered">
            <!-- table header -->
            <thead>
                <tr class="table-primary">
                    <th width="20%">Product Image</th>
                    <th width="35%">Product Detail</th>
                    <th width="20%" class="text-center">Quantity</th>
                    <th width="15%" class="text-center">Subtotal</th>
                    <th width="10%"></th>
                </tr>
            </thead>

            <!-- table details -->
            <tbody>
                <tr *ngFor="let tempCartItem of cartItems">

                    <!-- product image -->
                    <td>
                        <img src="{{ tempCartItem.imageUrl }}" class="img-responsive" width="70px" />
                    </td>

                    <!-- product name & unit price -->
                    <td>
                        <!-- product name -->
                        <p>{{ tempCartItem.name }}</p>
                        <!-- unit price -->
                        <p class="text-primary">{{ tempCartItem.unitPrice | currency: 'VND' }}</p>
                    </td>

                    <!-- Quantity column -->
                    <td>
                        <div class="row">

                            <!-- "-" button -->
                            <div class="col">
                                <button (click)="decreaseQuantity(tempCartItem)" class="btn btn-primary btn-sm">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>

                            <!-- Quantity column -->
                            <div class="col ml-4 mr-2">
                                {{ tempCartItem.quantity }}
                            </div>

                            <!-- "+" button -->
                            <div class="col">
                                <button (click)="increaseQuantity(tempCartItem)" class="btn btn-primary btn-sm">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>

                        </div>

                    </td>

                    <!-- "Subtotal" column -->
                    <td>
                        <p class="text-right">
                            {{ tempCartItem.quantity * tempCartItem.unitPrice! | currency: 'VND' }}
                        </p>
                    </td>

                    <!-- "Remove" button -->
                    <td>
                        <button (click)="remove(tempCartItem)" class="btn btn-primary btn-sm">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>

                <tr>

                    <!-- Total column -->
                    <td colspan="2">
                        <p class="text-right font-weight-bold">Total</p>
                    </td>

                    <!-- Quantity column -->
                    <td>
                        <p class="text-center font-weight-bold">{{ totalQuantity }}</p>
                    </td>

                    <!-- Subtotal column -->
                    <td>
                        <p class="text-right font-weight-bold">{{ totalPrice | currency: 'VND' }}</p>
                    </td>

                    <!-- Checkout button -->
                    <td>
                        <a routerLink="/checkout" class="btn btn-primary">
                            Checkout
                        </a>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>

    <!-- if cart is empty then display a message -->
    <div *ngIf="cartItems.length == 0" class="alert alert-info col-md-12">
        Your cart is empty.
    </div>

</div>