.form-area {
    /* background: #e5e5e5; */
    background: rgb(255, 255, 255);
    position: relative;
    margin-bottom: 45px;
    padding: 50px 20px;
    border: 1px solid #ccc
}

.form-area h4 {
    position: absolute;
    top: -26px;
    left: 13px;
    /* background: #e5e5e5; */
    background: rgb(255, 255, 255);
    padding: 10px 20px;
    font-weight: 500;
    z-index: 23;
    display: inline-block
}